.subtitle{
color:#cbd5f5;
margin-bottom:25px;
font-size:1rem;
}

/* badge */

.badge{
display:inline-block;
margin-bottom:25px;
padding:8px 22px;
border-radius:30px;
border:1px solid #7b2ff7;
background:rgba(123,47,247,0.15);
font-size:14px;
color:#d8b4fe;
}

/* pipeline */

.pipeline{
margin-bottom:35px;
font-size:14px;
color:#9ca3af;
letter-spacing:1px;
}

/* cards */

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:20px;
}

/* card */

.card{
background:rgba(255,255,255,0.06);
border:1px solid rgba(255,255,255,0.1);
border-radius:14px;
padding:25px;
transition:all .35s ease;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.5);
background:rgba(255,255,255,0.1);
}

.card span{
display:block;
font-size:12px;
color:#9ca3af;
letter-spacing:2px;
margin-bottom:8px;
}

.card strong{
font-size:20px;
}

/* footer */

.footer{
margin-top:35px;
font-size:12px;
color:#6b7280;
}

</style>
</head>

<body>

<div class="container">

<h1>CI-CD Pileline with GitHub Action</h1>

<div class="badge">
Josh Batch 10 V2 •Santosh Airi
</div>

<div class="subtitle">
Building real DevOps pipelines with modern cloud tools
</div>

<div class="pipeline">
⚙️ Built • 🧪 Tested • 🧹 Linted • 🚀 Deployed via GitHub Actions
</div>

<div class="cards">

<div class="card">
<span>FRAMEWORK</span>
<strong>Flask 3.1</strong>
</div>

<div class="card">
<span>RUNTIME</span>
<strong>Python 3.14</strong>
</div>

<div class="card">
<span>CLOUD</span>
<strong>AWS ECS</strong>
</div>

<div class="card">
<span>CI/CD</span>
<strong>GitHub Actions</strong>
</div>

<div class="card">
<span>Docker</span>
<strong>Docker Compose</strong>
</div>

<div class="card">
<span>Runner</span>
<strong>Self hosted</strong>
</div>

</div>

<div class="footer">
DevOps Learning Project • Deployed by Santosh
</div>

</div>

</body>
</html>